* {
  box-sizing: border-box;
}
body {
  padding: 30px;
}

.brand {
  font-family: "Snell Roundhand";
  font-size: 60px;
  text-align: center;
  font-weight: normal;
}

.page {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "story1 story2 story3"
    "story4 story5 story5";
}

.brand-header {
  grid-area: header;
}

.nav-links {
  grid-area: nav;
}

.story1 {
  grid-area: story1;
}

.story2 {
  grid-area: story2;
}

.story3 {
  grid-area: story3;
}

.story4 {
  grid-area: story4;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 30px;
  border: 3px solid black;
}

.nav-links a {
  font-size: 30px;
  font-weight: bold;
  font-family: "Futura";
  text-decoration: none;
  color: #666;
}

.article-title {
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

.article-img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.story {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  padding: 30px;
}

.story3 {
  border-right: 3px solid black;
}
